@tailwind base;
@tailwind components;
@tailwind utilities;

.nav{
         background: rgba(255, 255, 255, 0.2);
}

.gsBtn,
.regBtn{
    background-image: linear-gradient(to right, #c21500 0%, #ffc500  51%, #c21500  100%)
}

.regBtn {
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    display: block;
}
.gsBtn{
   
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
}
.gsBtn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.regBtn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.mainClr{
    background-image: radial-gradient( circle 490.7px at 3.1% 21.8%,  rgba(82,6,135,1) 0%, rgba(22,1,34,1) 100.3% );
}